{% block title %}Forgot Password{% endblock %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login - Skydash Admin</title>
    
    <!-- Corrected asset paths -->
    <link rel="stylesheet" href="{{ asset('Back/vendors/feather/feather.css') }}">
    <link rel="stylesheet" href="{{ asset('Back/vendors/ti-icons/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('Back/vendors/css/vendor.bundle.base.css') }}">
    <link rel="stylesheet" href="{{ asset('Back/css/vertical-layout-light/style.css') }}">
    <link rel="shortcut icon" href="{{ asset('Back/images/favicon.png') }}" />
</head>

{% block body %}
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="{{ asset('images/logo.svg') }}" alt="logo">
              </div>
              <h4>Forgot Your Password?</h4>
              <h6 class="font-weight-light">Enter your details to reset your password.</h6>
              
<form method="post" action="{{ path('send_reset_link') }}">
            <div class="form-group">
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-3">Reset Password</button>
        </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 