{% extends 'baseFront.html.twig' %}

{% block nav %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4 text-success font-weight-bold">Liste des commandes pour le terrain</h1>

        <div class="table-responsive">
            <table class="table table-striped table-hover shadow-sm rounded-lg">
                <thead class="thead-light bg-success text-white">
                    <tr>
                        <th>ID</th>
                        <th>Produit</th>
                        <th>Quantité</th>
                        <th>Client ID</th>
                        <th>Date</th>
                        <th>Prix total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for commande in commandes %}
                        <tr>
                            <td>{{ commande.id }}</td>
                            <td>{{ commande.nom }}</td>
                            <td>{{ commande.quantite }}</td>
                            <td>{{ commande.id_client }}</td>
                          
                            <td>{{ commande.date|date('d-m-Y H:i') }}</td>
                            <td>{{ commande.prix }} €</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-center">Aucune commande trouvée pour ce terrain</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
